*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --white: #fff;
    --purple: #8A2BE2;
    --black: #000000;
    --red: #DC143C;
    --grey: #ccc;
}
body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--grey);
    background-image: url(../Images/buses-1631019686721-3638.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.error{
    color: #FF0001;
}
.success{
    color: green;
}
.nav{
    position: relative;
    max-width: 1200px;
    margin: 20px auto;
    padding: 10px;
    background: #fff;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
}
nav{
    float: right;
}
.clearfix{
    clear: both;
}
.nav-links{
    margin: 0;
    padding: 0;
    display: flex;
}
.nav-links li{
    list-style: none;
}
.nav-links li a{
    display: block;
    margin: 10px 0;
    padding: 10px 20px;
    text-decoration: none;
    color: #262626;
}
.nav-links li a.active,
.nav-links li a:hover{
    background: purple;
    color: #fff;
    transition: 0.5s;
    border-radius: 10px;
}
@media (max-width: 1200px){
    .nav{
        margin: 20px;
    }
}
@media (max-width: 790px){
    .menu-toggle{
        display: block;
        width: 40ox;
        height: 40px;
        margin: 10px;
        background: grey;
        float: right;
        cursor: pointer;
    }
}
.container {
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	overflow: hidden;
	width: 400px;
	max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.header {
	border-bottom: 1px solid #f0f0f0;
	background-color: #f7f7f7;
	padding: 20px 40px;
}

.header h2 {
	margin: 0;
}
.form {
	padding: 30px 40px;	
}

.form-control {
	margin-bottom: 10px;
	padding-bottom: 20px;
	position: relative;
}

.form-control label {
	display: inline-block;
	margin-bottom: 5px;
}

.form-control input {
	border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-family: inherit;
	font-size: 14px;
	padding: 10px;
	width: 100%;
}

.form button {
	background-color: #8e44ad;
	border: 2px solid #8e44ad;
	border-radius: 4px;
	color: #fff;
	display: block;
	font-family: inherit;
	font-size: 16px;
	padding: 10px;
	margin-top: 20px;
	width: 100%;
}
.signup_link{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #666666;
}
.signup_link a{
color: #2691d9;
text-decoration: none;
}
.signup_link a:hover{
    text-decoration: underline;
}
.Req{
    text-align: left;
    margin-top: 10px;
}
input[type=checkbox] {
    vertical-align: middle;
    position: relative;
}
label {
    display: block;
    margin-bottom: 5px;
}
.transition-1{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 101;
    background-color: black;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s ease-out;
}

.transition-1.is-active{
    opacity: 1;
    pointer-events: all;
}